.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  border: 1px solid #ccc;
}

.ContactData input {
  width: 80%;
}

.ContactData form button {
  display: block;
  width: 20%;
  margin: 0px auto!important;
}

.ContactData form {
  display: block;
  width: 100%;
}

@media (min-width: 600px){
  .ContactData {
    width: 500px;
  }
}